<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!-- Arquivo de configuração da aplicação segundo a API de referência da Microsoft -->
    <!-- Disponível em https://docs.microsoft.com/en-us/dotnet/api/system.configuration?redirectedfrom=MSDN&view=netframework-4.7.2 -->
    <!-- Protocolo da aplicação web -->
    <add key="WebProtocol_" value="HTTP" />
    <!-- Porta designada para escuta da aplicação web -->
    <add key="WebPort_" value="7000" />
    <!-- Domínio local para acesso na aplicação web -->
    <add key="WebAddress_" value="localhost" />
    <!-- Diretório local para acesso de classes já compiladas disponíveis nos metadados da aplicação,
    também encontra-se nesse diretório as requisições que serão processadas pela aplicação -->
    <add key="WebRequestsDir_" value="IC.Core.WebServer.Requests" />
    <!-- Diretório local para inicialização da engine do banco de dados -->
    <add key="DbRunFiles_" value="Resources" />
    <!-- Endereço IP para conexão com o banco de dados -->
    <add key="DbHost_" value="localhost" />
    <!-- Índice do banco de dados -->
    <add key="DbIndex_" value="0" />
    <!-- Arquivo de configuração do banco de dados -->
    <add key="DbConfigFile_" value="db.conf" />
    <!-- Arquivo de execução do banco de dados -->
    <add key="DbExeFile_" value="db.exe" />
  </appSettings>
</configuration>